// Write your custom css/scss here

.form-control,
.dataTable-top .dataTable-search .dataTable-input,
quill-editor .ql-container .ql-tooltip input[type="text"],
.ng-select .ng-select-container,
.form-select,
.dataTable-top .dataTable-dropdown label select {
  border: 1.5px solid #adb7c1;
}

:root {
  --bs-btn-border-width: 1.5px !important;
}

// Min width for select-dropdown
.ng-select-custom {
  min-width: 250px !important;
  &.maxW-250 {
          max-width: 250px;
  }
}


.dataTableActions {
  .popover-body {
    padding: 0px !important;
  }
}

.form-control:focus,
.dataTable-top .dataTable-search .dataTable-input:focus,
quill-editor .ql-container .ql-tooltip input[type="text"]:focus,
.ng-select .ng-select-container:focus {
  border-color: #6571ff !important;
  background-color: #f8f8f8 !important;

  &.datepicker {
    border-color: #adb7c1 !important;
  }

  &.datepicker.is-invalid,
  &.is-invalid {
    border-color: #ff3366 !important;
  }
}

.card .card-title {
  flex-wrap: wrap !important;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-semibold {
  font-weight: 600;
}

// Scrollbar

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #717377;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #636468;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #cccccc;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #bebebe;
}

::-webkit-scrollbar-track:active {
  background: #d7d7d7;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.nav.nav-tabs .nav-item .nav-link {
  border: none;
  background-color: transparent;
  padding: 10px 30px;

  &.active {
    border-bottom: 2px solid;
  }
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
  text-transform: uppercase;
  font-weight: 600;
  color: #585858;
  font-size: 12px;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.minw {
  &-200 {
    min-width: 200px;
  }
}

.mw-70px {
  max-width: 70px;
}

.form-control.is-invalid {
  background-image: none !important;
}

ng-select.is-invalid {
  border: 1px solid red !important;
  border-radius: 0.25rem;

  &.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: none !important;
  }

  .ng-select-container {
    border: 1px solid transparent !important;
  }
}

// fix pager so that it doesn't wrap and uses available space
.ngx-datatable {
  .datatable-footer-inner {
    display: flex;
    flex-flow: row nowrap; // can't wrap because footer height fixed
    justify-content: space-between; // probably not needed because .page-count flex grows

    >.page-count {
      // remove padding so there's more room in-between
      padding: 0.2rem !important;
      height: 30px !important;
      line-height: 15px !important;
    }

    >.datatable-pager {
      margin: 0 !important;
      // don't grow, otherwise pager won't be right-aligned
      flex: 0 0 auto !important;

      >.pager {
        // prevent numbers from wrapping
        display: flex !important;
        flex-flow: row nowrap;
      }
    }
  }
}

#ngds-content {
  height: auto !important;
}

.form-label {
  margin-bottom: 0 !important;
}

.word-break {
  word-break: break-all;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.fs-37 {
  font-size: 37px !important;
}

.search-custom-200min {
  min-width: 200px;
}

.ng-select-custom-140min {
  min-width: 140px;
}

.ng-select-custom-250min {
  min-width: 250px;
}

.rupee {
  content: "\20B9";
}

.ngx-datatable.bootstrap .datatable-body .empty-row {
  display: none !important;
}

.minh-fullscreen {
  min-height: calc(100vh - 400px);
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #999;
  margin-top: 4px;
  border-style: solid;
  border-width: 5px 5px 0 !important;
  border-color: #999 transparent;
  content: "";
}

.multiselect-dropdown .dropdown-btn {
  span {
    color: gray;
    font-weight: normal;
  }
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  span {
    color: #fff !important;
  }
}

#ngds-content table tr td:last-child,
#ngds-content table tr th:last-child {
  position: sticky;
  right: 0;
  background: #fff;
  z-index: 11;
}

// #ngds-content datatable-body-cell:last-child,
// #ngds-content datatable-header-cell:last-child {
//   position: sticky;
//   right: 0;
//   z-index: 11;
//   min-width: 125px !important;
// }

// datatable-body-cell,
// datatable-header-cell{
// min-width: 200px !important;
// }

.spinLoader {
  position: absolute;
  right: 10px;
  top: 6px;

  svg {
    animation: rotate 2.5s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
.form-select.is-invalid:not([multiple]):not([size]){
  background-image: none !important;
}

.ngquotatin{
  max-width: 320px;
  width: 310px;
}

ng-multiselect-dropdown {
  &.is-invalid {
    .multiselect-dropdown {
      border: 1px solid #dc3545;
      border-radius: 0.25rem;
      .dropdown-btn{
        border: none !important;
      }
    }
  }
}

/*** Loading Shimmers UI ***/
.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

.line{
  width: 70px;
  height: 15px;
  border-radius: 6px;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.action-btns.hasTabs {
  margin-left: auto;
  margin-right: 10px;
}
/*** Loading Shimmers UI ***/

.sticky-header .datatable-header {
  position: sticky !important;
  top: 0;
  background-color: #fff;
  z-index: 100;
}

.sticky-header .datatable-body {
  max-height: 600px; 
}

double-scroll ngx-datatable datatable-body{
  width: auto !important;
  overflow: visible !important;
}

.imgPasteElement{
  img{
    max-width: 100%;
  }
}

.pastedImageOutput{
  margin-bottom: 10px;
  position: relative;
  width: 100px;

  i{
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 10px;
    font-size: 20px;
    color: red;
  }
  img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 3px;
  }
}