<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="."> Locations</a></li>
        <li class="breadcrumb-item active" aria-current="page">Centers</li>
    </ol>
</nav>

<!-- <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">ALL ITEMS</h4>
          <p class=“text-muted”>Read the <a href="https://github.com/swimlane/ngx-datatable" target="_blank"> Official Ngx-datatable Documentation </a>for a full list of instructions and other options.</p>
        </div>
      </div>
    </div>
  </div> -->

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title d-flex align-items-center justify-content-between">
                    <div>CENTERS</div>
                    <div class="d-flex align-items-center justify-content-end">
                        <!-- Toggle the value of the property when the toggler button is clicked. -->
                        <button class="ms-auto navbar-toggler filter-button" type="button"
                            (click)="isMenuCollapsed = !isMenuCollapsed">
                            <i class="feather icon-filter size-18"></i>
                        </button>
                        <button class="btn btn-primary btn-sm flex-shrink-0 ms-2"
                            (click)="addCentre('NewCentre')"><span class="feather icon-plus"></span> Add
                            Center</button>
                    </div>
                </h6>
                <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse mb-3">
                    <div class="d-flex flex-column flex-sm-row align-items-md-center gap-3 mt-2 mt-md-0 justify-content-end">
                        <div class="align-items-center d-flex flex-column flex-sm-row text-end">
                            <span class="text-muted text-small me-2 flex-shrink-0"
                                *ngIf="totalCount!=null">{{(pageSize*(pageNumber-1))+1}}-{{totalCount>pageSize*pageNumber?pageSize*pageNumber:totalCount}}
                                of {{totalCount}} </span>
                            <select name="rowLimit" id="rowLimit"
                                class="form-control form-select me-0 me-sm-2 h-34 mb-2 mb-sm-0"
                                (change)="ChangeEvent($event)" *ngIf="totalCount!=null">
                                <option value={{item}} *ngFor="let item of itemOptionsPerPage">{{item}}</option>
                            </select>
                            <input type="text" class="form-control mb-1 mb-sm-0"
                               [maxLength]="50" placeholder="Search"
                                (keyup)="updateFilter($event)" />
                        </div>                       
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>

                <double-scroll>
                    <!-- <div class="table-responsive"> -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Center</th>
                                <th>Contact person</th>
                                <th>Contact Person No</th>
                                <th>Address</th>
                                <th>Location</th>                                
                                <th>State</th>                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="allCentres !=null && !shimmerVisible">
                                <tr *ngFor="let cen of allCentres">
                                    <td class="truncate" style="max-width: 150px;">
                                        <span title="{{cen.CompanyName}}">{{cen.CompanyName}}</span>
                                    </td>
                                    <td class="truncate" style="max-width: 150px;">
                                        <span title="{{cen.ContactPerson}}">{{cen.ContactPerson}}</span>
                                    </td>
                                    <td class="truncate" style="max-width: 150px;">
                                        <span title="{{cen.Phone}}">{{cen.Phone}}</span>
                                    </td>
                                    <td class="truncate" style="max-width: 150px;">
                                        <span title="{{cen.Address}}">{{cen.Address}}</span>
                                    </td>
                                    <td class="truncate" style="max-width: 150px;">
                                        <span title="{{cen.City}}">{{cen.City}}</span>
                                    </td>
                                    <td class="truncate" style="max-width: 300px;">
                                        <span title="{{cen.State}}">{{cen.State}}</span>
                                    </td>                                  
                                    <!-- <td class="truncate" style="max-width: 300px;">
                                        <span title="{{1}}">1</span>
                                    </td> -->
                                    <!-- <td>
                                        <span
                                            [ngClass]="{'text-warning': loc.ApprovalStatus=='0', 'text-info': loc.ApprovalStatus=='1', 'text-success': quotation.ApprovalStatus=='2'}">
                                            {{quotation.ApprovalStatus== "0" ?'Created':quotation.ApprovalStatus==
                                            "1"?'Checked':quotation.ApprovalStatus== "2"?'Approved':''}}
                                        </span>
    
                                        <div class="border-secondary border text-secondary bg-white badge-mini badge" *ngIf="this.created==true">{{quotation.ApprovalStatus== "0"?'Created':''}}</div>
                                        <div class="border-primary border text-primary bg-white badge-mini badge"  *ngIf="this.checked==true">{{quotation.ApprovalStatus== "1"?'Checked':''}}</div>
                                         <div class="border-success border text-success bg-white badge-mini badge" *ngIf="this.approved==true">{{quotation.ApprovalStatus== "2"?'Approved':''}}
                                        </div> 
                                    </td> -->
                                    <td>
                                        <div class="d-flex">
                                            <div ngbDropdown>
                                                <button class="btn btn-secondary btn-xs" id="actionsDropdown"
                                                    placement="bottom" container="body" [ngbPopover]="dataTableActions"
                                                    popoverClass="dataTableActions">Actions <span class="feather icon-chevron-down"></span></button>
                                                <ng-template #dataTableActions>
                                                    <div aria-labelledby="actionsDropdown">
                                                        <button class="border-bottom" ngbDropdownItem (click)="upDateCentre(cen.PanelGuid)"><span class="feather icon-edit"></span> Edit</button>
                                                        <button class="border-bottom" ngbDropdownItem (click)="openBasicModal(centerDelete);deleteCenter(cen);"><span class="feather icon-trash-2"></span> Delete</button>
                                                        <button class="border-bottom" ngbDropdownItem (click)="openBasicModal(centers);Center(cen);"><span class="feather icon-refresh-cw"></span> Asyn Store</button>
                                                        <!-- <button class="border-bottom" ngbDropdownItem>Print</button>
                                                        <button class="border-bottom" ngbDropdownItem>Download</button>  -->
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            <!--Shimmer UI -->
                            <ng-container *ngIf="shimmerVisible">
                                <tr *ngFor="let dummyLoop of [].constructor(5)">
                                  <td>
                                    <div class="shimmerBG line"></div>
                                  </td>
                                  <td>
                                    <div class="shimmerBG line"></div>
                                  </td>
                                  <td>
                                    <div class="shimmerBG line"></div>
                                  </td>
                                  <td>
                                    <div class="shimmerBG line"></div>
                                  </td>
                                  <td>
                                    <div class="shimmerBG line"></div>
                                  </td>
                                  <td>
                                    <div class="shimmerBG line"></div>
                                  </td>
                                  <td>
                                    <div class="shimmerBG line"></div>
                                  </td>
                                </tr>
                            </ng-container>
                            <!--Shimmer UI -->
                        </tbody>
                    </table>
                    <!-- </div> -->
                </double-scroll>
            </div>
            <div class="cartd-footer" *ngIf="allCentres.length!==0">
                <div class="d-flex justify-content-center my-3 pe-3" >
                    <!-- <pagination-controls (pageChange)="GetAllData($event)"></pagination-controls> -->
                    <ngb-pagination class="ms-auto d-sm-table" [collectionSize]="totalCount" [pageSize]="itemsPerPage"
                        [(page)]="pageNumber" (pageChange)="GetAllData($event)" [maxSize]="maxSize" [rotate]="false"
                        [boundaryLinks]="boundaryLinks" [size]="size"></ngb-pagination>

                </div>
            </div>
            <ng-container *ngIf="this.noCentersFound==true && !shimmerVisible">
                <div class="minh-fullscreen d-flex align-items-center justify-content-center">
                    <div class="py-5 text-muted">
                        <div class="d-flex flex-column justify-content-center gap-1 align-items-center fs-4">
                            <i class="feather icon-alert-circle fs-2"></i>
                            <span>No Centers found!</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<!-- </div> -->
<ng-template #centerDelete let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Center</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-3">
                    <label for="itemName" class="form-label">Are you sure do you want to delete 
                        <strong>{{ centeerName }}</strong> ?</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-2" (click)="modal.close('by: close icon')">
            No
        </button>
        <button type="button" class="btn btn-primary submit"
            (click)="modal.close('by: close icon');DeleteCenter()">Yes</button>
    </div>
</ng-template>
<!-- </div> -->
<ng-template #centers let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asyn center store</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon');storeGuid=''" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label for="locations" class="label">Stores</label>
                <ng-select placeholder="search by store name" name="locations" class="ng-select-custom-250min"
                    [items]="filterAllStores" bindValue="Guid"  (change)="SelectCenter($event)" bindLabel="location" [multiple]="false">
                </ng-select>
            </div>
            <div class="col-sm-12">
                <div class="my-3">
                    <label for="itemName" class="form-label"> Do you want add this store to center
                        <strong>{{ centeerName }}</strong> ?</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-2" (click)="modal.close('by: close icon');storeGuid=''">
            No
        </button>
        <button type="button" class="btn btn-primary submit" [disabled]="!storeGuid"
        (click)="modal.close('by: close icon');UpdateCenterLocation();storeGuid=''">Yes</button>
    </div>
</ng-template>  