<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://envato-shoebox-0.imgix.net/74ba/3a90-2bd9-40aa-b98a-0a59bed5a2a8/1684826.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=900&s=0b54183e4f255df22111b20670158bf8)' }">
  
            </div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="nobleui-logo d-block mb-2">Yoda <span>LIMS</span></a>
              <h5 class="text-muted fw-normal mb-4">Forgot password.</h5>
              <form class="forms-sample" [formGroup]="forgotPasswordForm" novalidate >
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label" >Email address<span [ngClass]="{'text-danger': e['email'].value.length == 0 }"> *</span></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="email" maxlength="40" (keyup)="clickmail()"
                  [ngClass]="(forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched) 
                    ||  (isSubmitted && !isEmailRegistered) ?  'is-invalid': ''">
                    <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')" class="invalid-feedback">Email is required!</div>
                    <!-- <div class="text-danger mt-4px d-block"
                    *ngIf="forgotPasswordForm.get('email')?.invalid && !forgotPasswordForm.get('email')?.hasError('required')">
                    Enter valid email id!
                  </div> -->
                  <ng-container
                  *ngIf="(!forgotPasswordForm.get('email')?.hasError('required'))  && forgotPasswordForm.get('email')?.invalid &&(forgotPasswordForm.get('email') || forgotPasswordForm.get('email')?.dirty);">
                  <span class="text-danger mt-4px d-block">Enter a valid email!</span>
              </ng-container>
                  <div *ngIf="isSubmitted && !isEmailRegistered && forgotPasswordForm.value.email && !forgotPasswordForm.get('email')?.invalid" class="text-danger mt-4px d-block">
                    Email must be registered email address! 
                  </div>
                  <div *ngIf="emailSent==true && forgotPasswordForm.value.email && !forgotPasswordForm.get('email')?.invalid" class="text-success mt-4px d-block">
                    Email sent successfully! 
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" [disabled]="forgotPasswordForm.invalid || emailSent==true"  (click)="checkUser()">Reset password</button>
                </div>
                <a routerLink="/auth/login" class="d-inline-block mt-3 text-muted">Back to Login</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>